*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    position: absolute;
    right: 35%;
    bottom: 20%;
}
  .onbtn{
    position: absolute;
    right: 20%;
    bottom: 20%;
  }
  .offbtn{
    position: absolute;
    left: 35%;
    bottom: 20%;
  }